---
import BaseLayout from '../layouts/Base.astro';
import Greeting from '../components/Greeting.jsx';
const pageTitle = "Home";
---
{/*<style>
	a {
		text-decoration: none;
  position: relative;
	}
	a::before {
		content: '';
		background-color: hsla(196, 61%, 58%, .75);
		position: absolute;
		left: 0;
		bottom: 5px;
		width: 100%;
		height: 8px;
		z-index: -1;
		transform: rotate(-1deg);
		transition: all .3s ease-in-out;
	}
	a:hover::before {
		bottom: 0;
		height: 100%;
	}
</style>*/}
<BaseLayout pageTitle={pageTitle} category='home'>
	<p class="text-center display-6">This is a website that nobody will see because I haven't told anyone about it. Feel free to explore!</p>
	<p class="text-center display-1"><i class="bi bi-house-door"></i></p>
	<h2 class="text-center">Quote of the year:</h2>
	<figure class="text-center">
		<blockquote class="blockquote">
			<p>But the machine man, driving a dead tractor on land he does not know and love, understands only chemistry; and he is contemptuous of the land and of himself.</p>
		</blockquote>
		<figcaption class="blockquote-footer">
			John Steinbeck, <cite title="Source Title">The Grapes of Wrath</cite>
		</figcaption>
	</figure>
</BaseLayout>
