---
---
<footer class="w-100 p-1 mt-5 text-center text-bg-secondary">
  <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" />
  The things I wrote here are licensed under a 
  <a class="link-light" rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a>.
  <br/>
  <a class="link-light" data-bs-toggle="modal" data-bs-target="#modal-cookies" href="#modal-cookies">wE uSE cOOkiEs omNOmNOm</a>
</footer>

<div class="modal" id="modal-cookies">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">No, we don't</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        HA HA Gotcha! In fact, we don't even use any user-tracking mEtRicS because we (a) don't care and (b) don't need that illusion of control over the website visitor stats. There are no ads as well. You're safe here. Even if some page uses web storage, which is totally this-site-specific and cross-site-tracking-safe, you'll likely be notified about this.
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">I feel safer now!</button>
      </div>

    </div>
  </div>
</div>