#formula_input,
#equation_input {
	border-bottom: none;
}

#equation_output_reagents td,
#equation_output_products td {
	vertical-align: middle;
}

#equation_output_reagents,
#equation_output_products {
	min-width: 400px;
}